/* Box Model Fix */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    background-color: #f7f6f2;
    color: #424242;
    font-family: 'Sen', sans-serif;  
}


header {
    height: 15vh;
    background-color: #424242;
}


.header-margin{
    margin: 0 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.hero-margin{
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
}


.hero{
    height: 70vh;
}


.blog {
    background-color: #fff;
    height: 20vh;
    /* Add Auto height once we fill content */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


footer{
    background-color: #f7f6f2;
    height: 40vh;
}